.sf-menu a {
  display: block;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  color: #ffffff;
  position: relative;
  text-transform: uppercase;
}
.sf-menu > li > a {
  position: relative;
  display: block;
}
